<div [@routerTransition]>
    <app-page-header [heading]="'Clientes'" [icon]="'fa fa-address-card-o'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    Clientes
                </div>
                <div class="card-body table-responsive table-hover">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nome</th>
                                <th>Sexo</th>
                                <th>Chat</th>
                                <th>Cadastro</th>
                                <th>Última visita</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of clients">
                                <td>{{ item.id }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.gender }}</td>
                                <td>{{ item.chatId }}</td>
                                <td>{{ (item.created | date:"dd/MM/yyyy HH:mm") }}</td>
                                <td>{{ (item.lastVisit | date:"dd/MM/yyyy HH:mm") }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>