<div [@routerTransition]>
    <div class="row">
        <div class="col-xl-4 col-lg-4 mb-2">
            <app-stat [bgClass]="'info'" [icon]="'fa-comments'" [count]=[numberOfVisits] [label]="'Visits'" [link]="'#/clients'"></app-stat>
        </div>
        <div class="col-xl-4 col-lg-4 mb-2">
            <app-stat [bgClass]="'warning'" [icon]="'fa fa-address-card-o'" [count]=[numberOfClients] [label]="'New clients'" [link]="'#/clients'"></app-stat>
        </div>
        <div class="col-xl-4 col-lg-4 mb-2">
            <app-stat [bgClass]="'success'" [icon]="'fa fa-handshake-o'" [count]=[numberOfOrders] [label]="'Orders'" [link]="'#/orders'"></app-stat>
        </div>
    </div>
    <hr class="ng-tns-c4-0">
    <div class="row">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Annual conversion
                </div>
                <div class="card-body">
                    <canvas baseChart height="130" [chartType]="lineChartType" [labels]="lineChartLabels" [datasets]="lineChartData" [colors]="lineChartColors"
                        [options]="lineChartOptions"></canvas>
                </div>
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Orders by equipment type in the month
                </div>
                <div class="card-body">
                    <canvas baseChart height="130" [chartType]="pieChartType" [labels]="pieChartLabels" [data]="pieChartData" [colors]="pieChartColors"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>