<div [@routerTransition]>
  <app-page-header [heading]="'Equipment model'" [icon]="'fa fa-bicycle'"></app-page-header>
  <div class="row">
    <div class="col col-xl-12 col-lg-12">
      <div class="card mb-3">
        <div class="card-header">
          {{ title }}
        </div>
        <div class="card-body">
          <form role="form" [formGroup]="form" (ngSubmit)="save()">
            <fieldset class="form-group">
              <label for="name">Name</label>
              <input id="name" type="text" formControlName="name" class="form-control">
              <div *ngIf="form.controls.name.errors?.required && form.controls.name.touched" class="error">
                *Required
              </div>
            </fieldset>
            <fieldset class="form-group">
              <label for="description">Description</label>
              <textarea id="description" rows="3" formControlName="description" class="form-control"></textarea>
            </fieldset>
            <fieldset class="form-group">
              <label for="rate">Rate</label>
              <input id="rate" type="number" formControlName="rate" class="form-control">
              <div *ngIf="form.controls.rate.errors?.required && form.controls.rate.touched" class="error">
                *Required
              </div>
            </fieldset>
            <fieldset class="form-group">
              <label for="equipmentTypeId">Equipment type</label>
              <select id="equipmentTypeId" formControlName="equipmentTypeId" class="form-control">
                <option value="">Select...</option>
                <option *ngFor="let item of equipmentTypes" [value]="item.id">{{ item.name }}</option>
              </select>
            </fieldset>
            <fieldset class="form-group">
              <label for="inputFile">Image</label>
              <div class="form-control">
                <div class="row">
                  <div class="col-md-4">
                    <img class="img-thumbnail" [src]="equipmentModelImage" *ngIf="isImagePresent; else noImageFound" width="200" height="200">
                    <ng-template #noImageFound>
                      <img class="img-thumbnail" src="./assets/images/default.jpg" width="200" height="200">
                    </ng-template>
                  </div>
                  <div class="col-md-8">
                    <input #fileInput type="file" class="form-control-file mb-1">
                    <button type="button" class="btn btn-default" (click)="addFile()">Load</button>
                  </div>
                </div>
              </div>
            </fieldset>
            <button type="submit" [disabled]="!form.valid" class="btn btn-info">Save</button>
            <button type="reset" routerLink="/equipment-models" class="btn btn-default">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>